@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-style {
  background-color: #EAE9ED;
  font-family: 'Otomanopee One', sans-serif;
}

.header {
  background-color: #EAE9ED;
}

.bg-custom {
  background-color: #EDEBBF;
  color: #110404;
  border-bottom: thin solid #616283;
}

h1 {
  font-size: 64px;
  color: #110404;
}

h4 {
  text-decoration: underline;
}

p, li {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

.nav-link {
  font-family: 'Kanit', sans-serif;
  font-size: large;
  color: #A94C4D;
  padding-right: 10px;
}

.nav-link:hover {
  color: #A94C4D;
  text-decoration: underline;
}

.bottom {
  min-height: 360px;
  background-color: #EAE9ED;
  color: #231F20;
}

@media (max-width: 400px) {
  h1 {
    font-size: 48px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}
